@keyframes appearH1 {
    0% {opacity: 0;}
    60%{opacity:0}
    100%{opacity: 1;}
}

@keyframes animate {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(270deg);
    }
}

@keyframes jumpImgHover {
  0%{transform: translateY(0);}
  30%{transform: translateY(-20px);}
  50%{transform: translateY(0);}
  70%{transform: translateY(-10px);}
  100%{transform: translateY(0);}
}
